@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Carian&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

 /* General Styles */


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{


    /* color pattels */

    --first-color:  #4931e7;
    --title-color: #25333a;
    --text-color:  #2632388d;
    --shadow-color: #4931e71a;
    --body-color: #fbfaff;
    --light-text-color: #847fa5;
    --extra-light-color: #263238aa;
    --weight-color: #ffffff;
    --black-color: #000000;
    --background-color: #E6E2FF;



    /* font & typography */

    --nunito-font: "Nunito Sans", sans-serif;
    --roboto-font: "roboto", sans-serif;
    --poppin-font: "poppins", sans-serif;


    /* font weight */

    --font-weight-800: 800;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;


    /*  border curve  */

    --border-radius-24: 24px;
    --border-radius-20: 20px;
    --border-radius-18: 18px;
    --border-radius-16: 16px;
    --border-radius-14: 14px;
    --border-radius-10: 10px;


}



body{
    width: 100vw;
    height: 100svh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6E2FF;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    font-family: var(--poppin-font);
      
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}


body::-webkit-scrollbar{
    display: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex-coloum{
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    width: 210px;
    height: 95svh;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 1px 2px 30px #4931e71a;
    /* border: 2px solid white; */
    overflow: hidden;
    /* padding: 10px; */
    justify-content: space-evenly;

}

section{
    height: 90% !important;
}

main, section{
    width: calc(100% - 280px);
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua;   */
    background-color: #ffffff;
    border-radius: 20px;

    .main-body{
       width: 100%;
       height: 90%;
      
    }

    
    .main-top{
        width: 100%;
        height: 10%;
        /* background-color: #25333a; */
        border-radius: 20px;
        justify-content: space-between;
     }
    
}



.prf-card{
        width: 100%;
        height: 30%;
        /* background-color: #4931e7; */
        justify-content: center;
        user-select: none;



        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #E6E2FF;
        }

        h3{
            font-family: var(--roboto-font);
            margin-top: 10px;
            text-shadow: 1px 1px 10px #3b373734;
            font-size: 20px;
            color: var(--title-color);
        }

        p{
            font-size: 11px;
            font-family: var(--poppin-font);
            color: var(--light-text-color);

        }

        span{
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--first-color);
            margin: 0 5px;
        }



        .usrDtl{
            padding-top: 3px;
            /* opacity: .6 */
        }
}

.menu-card{
    height: 48%;
    width: 100%;
    display: block;
    padding-left: 10px;
    /* background-color: #25333a; */
    position: relative;

    p{
        font-size: 10px;
        font-family: var(--poppin-font);
        color: var(--light-text-color);
        /* padding-top: 10px; */
        /* padding-bottom: 10px; */
        padding-left: 10px;
        cursor: pointer;
    }

    ul{
        font-size: 12px;
        width: 100%;
        height: 100%;
        user-select: none;
  

        li{
            color: var(--extra-light-color);
            margin-top: 15px;
            padding-left: 10px;
            cursor: pointer;
            width: 100%;
            height: 100%;
           
            i{
              padding-right: 10px;
            }

            .active{
                position: absolute;
                width: 4px;
                left: 0;
                height: 20px;
                background-color: #4931e7;
                border-radius: 5px;
                transition: .3s fade ease-in-out;
            }

        }
        li:hover{
            color: #7762ff;
        }

        li:active{
            color: var(--first-color);
      

        }
        .active{
            color: var(--first-color);
            font-size: 14px;
            font-weight: 500;

        }

        .active:hover{
            color: var(--first-color);
          
            
        }

    }

}

.switchMenu span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    i{
        /* padding-top: 3px; */
        padding-left: 4px;
        padding-right: 8px;
        padding-top: 2.5px;
        
        color: #4931e7;
        animation: slideInOut 1s ease-in-out infinite;

    }

}

/* Define keyframes for the animation */
@keyframes slideInOut {
    0% { transform: translateX(0); }    /* Start at the original position */
    50% { transform: translateX(4px); } /* Move forward */
    100% { transform: translateX(0); }  /* Move back to original position */
}

.device-opn {
    width: 95%;
    height: 90%;
    padding: 5px 0;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scroll */
    flex-shrink: 0;
    
}

.device-opn::-webkit-scrollbar {
    display: none;
}

/* For other browsers */
.device-opn {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}


@keyframes gradientAnimation {
    0% {
        color: #4931e7; /* Default color */
    }
    50% {
        color: #8775ff; /* Sky blue color */
    }
    100% {
        color: #4931e7; /* Default color */
    }
}

.fi-rr-badge-check {
    color: #4931e7;
    font-size: 12px;
    margin-left: 4px;
    animation: gradientAnimation 2s infinite; /* Animation duration and infinite loop */
}




.device-info{
    width: 100%;
    height: 55px;
    /* background-color: var(--background-color); */
    border-radius: 10px;
    /* border: 1px solid var(--light-text-color); */
    /* box-shadow: 3px 5px 15px  var(--shadow-color); */
    overflow: hidden;
    justify-content: space-around;
    margin-bottom: 8px;
    position: relative;
    margin-top: 2px;

    .deviceType{
        width: 40px;
        height: 40px;
        /* background-color: var(); */
        color: var(--first-color);
        font-size: 25px;
        /* padding-top: -20px; */
        margin-top: -8px;
    
    }
    
    .deviceDetails{
        /* position: ; */
        width: calc(100% - 80px);
        height: 100%;
        justify-content: center;
        align-items: start;
        padding-left: 5px;
        /* background-color: var(--background-color); */


        .deviceModel{
            font-family: var(--roboto-font);
            font-size: 12px;
            font-weight: 500;
            color: var(--title-color);

        }

        .deviceOsReg{
            font-family: var(--roboto-font);
            font-size: 10px;
            font-weight: 400;
            color: var(--title-color);
            padding-top: 2px;

            span{
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--first-color);
                margin: 0px 5px;
            }

          
        }

       

        .deviceActivity{
            font-family: var(--roboto-font);
       
            font-weight: 400;
            color: var(--title-color);
            padding-top: 2px;

            .active{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: rgb(0, 218, 0);
                margin: 0;
                padding: 0;
            } 

            .inactive{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: rgb(255, 199, 15);
                margin: 0;
                padding: 0;
            }
            
            p{
                font-size: 8px;
                padding-top: 1.2px;
                margin-left: -3px;
            }
        }

    }
    

    .delDevice{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--background-color);
        justify-content: center;
        align-items: center;
        color: var(--first-color);
        display: flex;
        text-align: center;
        margin-top: -15px;
       
        transition: transform .3s ease, color 0s ease;

        i{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    

    .delDevice:hover{
        color: rgb(255, 119, 119);
        transform: rotate(90deg);
        background-color: #fbfaff;
    }

    .delDevice:active{
        background-color: rgb(255, 0, 0);
        color: white;

    }
    

   
}












.logout-card{
    width: 100%;
    height: 22%;
    /* background-color: #4931e7; */
    align-items: center;
    /* padding-left: 10px; */
    /* gap: 15px; */
    justify-content: center;
 
    text-align: center;

    p{
        font-size: 10px;
        font-family: var(--poppin-font);
        color: var(--light-text-color);
        cursor: pointer;
        user-select: none;
       
    
    }

    button i{
        padding-right: 5px;
    }
    
}




a{
    text-decoration: none;
    
}

.button1{
    background-color: #4931e7;
    font-size: 14px;
    color: white;
    /* Text ka color */
    /* font-weight: 500; */
    border: none;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    /* width: 70% ; */
    width: 85%;
    height: 35px; /* Full height button */
    margin-bottom: 5px;
    box-shadow: 1px 2px 30px #4931e710;
    a{
        color: white;
        margin-left: 5px;
    }
}


.button2{
    background-color: white;
    font-size: 14px;
    color: #4931e7; /* Text ka color */
    /* font-weight: 500; */
    margin-bottom: 12px;
 
    border: 1px solid #4931e7;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    /* width: 70% ; */
    width: 85%;
    height: 35px; /* Full height button */
    /* margin-top: 10px; */
    box-shadow: 1px 2px 30px #4931e710;
    user-select: none;
    user-select: none;
    a{
        color: #4931e7;
        margin-left: 5px;
    }
}



.welcome-box-cont{
    width: 20%;
    height: 100%;
    /* background-color: #caedff; */
    align-items: start;
    padding-left: 10px;
    /* margin-top: 30px; */
    /* justify-content: center; */
    /* align-items: center; */
    color: var(--title-color);
    
    p{
        font-size: 10px;
        margin-bottom: -3px;
        margin-top: 2px;


        span{
            font-weight: 700;
            color: #4931e7;
        }

        i{
            color: #ffc45f;
            padding-right: 6px;
        }
    }
    h2{
        font-size: 1.6em;
    }
}


#wlcHand {
    display: inline-block;
}

#wlcHand {
    display: inline-block;
    animation: rotateWave 1s infinite linear;
}

@keyframes rotateWave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.sideLogo{
    width: 23%;
    height: 100%;  
    /* background-color: #7762ff; */
    /* gap: 20px;
    j */
    justify-content: space-between;
    padding-right: 5px;
}


.logo{
    /* width: ; */
    height: 100%;
    /* background-color: #1E3653; */

}


.logo-icon-box{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-color: #4931e7;
    overflow: hidden;
}

.logo-icon-box img{
    width: 50%;
    height: 50%;
    object-fit: contain;
} 




.logo h1{
    font-family:'roboto';
    color:#263238;
    font-weight: 900;
    margin-left: 8px;
    font-size: 24px;

    span{
        color: #4931e7;
        font-weight: 400;
        margin-left: 2px;
    }
   

}

.sideBackBtn{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    color: #4931e7;
}

.sideBackBtn:active{
    background-color: #4931e7;
    color: white ;
}


main{
    background-color: #ffffff;
    border-radius: 18px;
    overflow: hidden;

    .misc-info{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;


        img{
            position: absolute;
            /* z-index: -1; */
            width: 100%;
            height: auto;
            object-fit: cover;
            opacity: .2;
        }



        span{
            width: 60%;
            height: 1.5px;
            margin-top: 30px;
            border-radius: 50px;
            background-color: #25333a1a;
        }

        .misc-head {
            
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: center;
            opacity: .9;

        h1{
            color: #263238;
        }


        img{
            position: relative;
            width: 40px;
            height: 40px;
            margin-right: 10px !important;
            opacity: 1;
          
            /* margin-left: 30px; */
        }
       
    }

    .visit-sites{
        width: 100%;
        margin-top: 20px;
        z-index: 1;
        .site1{
            width: 100%;
            /* height: 200px; */
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 20px;

            .s{
                /* width: 120px; */
                cursor: pointer;
                padding: 0 30px;
                font-style: italic;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                background-color: #25333a13;
                border-radius: 50px;
            }
        }
    }

    }

    .construction-disp{
        opacity: .2;
    }
}

.qr-display{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
   

    .system-info{
        position: absolute;
        width: 95%;
        justify-content: space-between;
        top: 20px;
        font-size: 15px;

        .div{
            padding: 5px 30px;
            background-color: #4931e7;
            color: white;
            border-radius: 50px;
            font-weight: 500;
            p{
                font-size: 15px;
            }
            

            span{
                margin-right: 10px;

               
            }
        }
    }

    h1{
        color: #263238;
        font-size: 28px;
        span{
            /* font-size: 20px; */
            margin-left: 10px;
        }
    }

    p{
        font-size: 18px;

        /* margin-bottom: 20px; */
    }


    .qr-cont{
        margin-top: 30px;
        width: 90%;
        justify-content: space-evenly;

        .qr-block{
            background-color: #25333a15;
            width: 240px ;
            height: 240px;
            border-radius: 30px;
            justify-content: space-evenly;
            margin-top: 10px;
            

            #qrCodeContainer {
                width: 200px;
                height: 200px;
                /* background-color: #25333a; */
                border-radius: 20px;
                overflow: hidden;
                margin-top: 10px;
            }

            p{
                font-size: 10px;
                margin: 5px 0;
                font-weight: 500;
                color: #263238ad;
            }

        }

        .qr-guide{
            width: 60%;
            margin-top: -30px;

            p{
                font-size: 15px;
                margin-top: 40px;
                border-bottom: 2px solid #4931e7;
                width: 85px;
                color: #4931e7;
                cursor: pointer;
            }

            p:hover{
                color: #745fffe2;
                border-bottom: 2px solid #745fffe2;
            }

            p:nth-child(3){
                width: 230px ;
                margin-top: 15px;
                
                i{
                    margin-left: 10px;
                }
            }

            ul{
                width: 100%;
                margin-top: 70px;

                li{
                    margin-bottom: 12px;
                    font-size: 18px;
                }
            }
        }
    }
   
}


.spinner {
    width: 100px;
    height: 100px;
    border: 8px solid #ffffff; /* Light grey */
    border-top: 8px solid #4931e7; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .checkOut-qr{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;


    .qr-container{
        width: 90%;
        height: 90%;
        background-color: #404d5318;
        border-radius: 20px;
        margin-top: -20px;

        p{
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            margin-top: 15px;
            padding: 0;
        }

        p:nth-child(3){
            font-size: 10px;
            font-weight: 500;
            margin-top: 10px;
        }

        .qr-box{
            width: 160px;
            height: 160px;
            border-radius: 12px;
            background-color: #fff;
            margin-top: 10px;
            overflow: hidden;
            object-fit: contain;
        }
    }
    
  }