@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Carian&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

 /* General Styles */


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Helper function to reset message display
function resetMessageDisplay(element) {
    element.textContent = '';
    element.style.display = 'none';
    element.style.backgroundColor = ''; // Reset background color
    element.style.boxShadow = ''; // Reset box shadow
}

// Function to display messages
function showMessage(element, message, type) {
    element.textContent = message;
    element.style.display = 'block'; // Show the message

    if (type === 'error') {
        element.style.backgroundColor = 'rgb(255, 72, 72)'; // Error background color
        element.style.color = 'white'; // Error text color
        element.style.boxShadow = '0px 5px 30px rgba(255, 0, 0, 0.292)';
    } else if (type === 'success') {
        element.style.backgroundColor = 'rgb(11, 239, 38)'; // Success background color
        element.style.color = 'white'; // Success text color
        element.style.boxShadow = '0px 5px 30px rgba(64, 255, 0, 0.292)'; // Box shadow for success
    }
}



body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6E2FF;
    
}
body::-webkit-scrollbar{
    display: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wavehand{
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #4931e7;
}
.wavehand::before{
    font-size: 40px;
    color: #4931e7;
}

.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex-coloum{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.main-container{
    width: 65%;
    height: 80%;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 4px 20px #0a004918;
    
}

.hero-container {
    width: 55%;
    background-color: #f6f5ff;
    height: 100%;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    position: relative;

    
}

.hero-container img {
    width: 60%;
    height: auto;
}


.slider {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #4931e7; */
    
   
}

.slide, .hero2 {
    width: 100%;
    height: 90%;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.slide h1, .hero2 h1{ 
    font-family:'roboto';
    color: #4931e7;
    font-weight: 600;
    width: 80%;
    font-size: 1.7vw;

}


.slide p,.hero2 p{
    font-family:'roboto';
    color: #847fa5;
    width: 70%;
    font-size: 1.1vw;
    font-weight: 400;
} 


#login-container-email{
    display: none;
}


.form-container{
    width: 45%;
    height: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    /* background-color: aqua;  */

}

.container{
    width: 90%;
    height: 100%;
    /* background-color: #4931e7; */
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
}



.fgid{
    display: none;
}

.fgpass{
    display: none;
}
.hero-container .hero-button{
    display: none;
}
.hero-small-container{
    display: none;
}

.prm-logo-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    /* background-color: #4931e7; */
}


#wlcHand {
    display: inline-block;
    margin-right: 4px;
    background: linear-gradient(to right, #ffc45f, #ff8a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}

#wlcHand {
    display: inline-block;
    animation: rotateWave 1s infinite linear;
}

@keyframes rotateWave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.welcome-msg{
    width: 100%;
    height: 15%;
    justify-content: center;
    color: #263238;
    text-shadow: 2px 4px 15px #2632382b;

    /* background-color: #4931e7; */
    /* gap: 1px; */


}
.welcome-msg h2{
    font-family: 'poppins';
    font-size: 1vw;
    font-weight: 400;
}
.welcome-msg .mainh2{
    font-size: 1.5vw;
    margin-top: 5px;
    font-weight: 700;
    
}




.logo{
    width: 100%;
    height: 100%;

}


.logo-icon-box{
    width: 35px;
    border-radius: 50%;
    height: 35px;
    background-color: #4931e7;
    overflow: hidden;
}

.logo-icon-box img{
    width: 60%;
    height: 60%;
    object-fit: contain;
} 


.logo h1{
    font-family:'roboto';
    color:#263238;
    font-weight: 900;
    margin-left: 6px;
    font-size: 2.2vw;
   

}

#forgot-id-container{
    display: none;
}



#forgot-password-container{
    display: none;
}

.upd-pass{
    display: none;
}

.otp-verify{
    display: flex;
}

#update-pass-button{
    display: none;
}

.lg-cnt form{
    width: 100%;
    height: 45%;
    /* display: none; */
    justify-content: space-evenly;
    /* background-color: #4931e7; */
}

.find-userid{
    display: none;
}

.lg-cnt .find-userid{
    width: 65%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #4931e7; */
}

.lg-cnt .find-userid img{
    width: 100%;
    height: 70%;
    object-fit: contain;

}

.lg-cnt .find-userid p,  #findUserId{
    text-align: center;
    font-size: .8vw;
    margin-top: 6px;
    font-family: 'poppins';
    font-weight: 500;
    text-decoration: none;
}


.login-form .input-group{
    display:flex;
    flex-direction: column;
    width: 70%;

}

.login-form  input, #findUserId{
    width: 100%;
    height: 35px;
    border-radius: 30px;
    border: 1.5px solid #8773da8e;
    padding: 0 15px;
    
}

#findUserId{
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    background-color: #4931e7;
    border: none;
    box-shadow: 1px 2px 30px #4931e71a;

}


.login-form input:focus {
    border-color: #4931e7 !important; /* Border color when the input is focused */
    outline: none; /* Remove the outline */
}


.otp-box{
    width: 100%;
    justify-content: space-between;
}
.otp input{ 
  width: 15%;
  padding: 0;
  text-align: center;
}

.input-group label{
    font-size: .9vw;
    font-family: 'poppins';
    font-weight: 500;
    margin-bottom: 2px;
}

.input-group a:active{
    color: #4931e7;
}

.input-group a, .token_id{
    text-align: end;
    font-size: .8vw;
    margin-top: 2px;
    font-family: 'poppins';
    font-weight: 500;
    text-decoration: none;

}

.token_id{
    margin-top: 5px;
    color: #263238aa;
}

.btn-cnt{
    width: 100%;
    justify-content: space-evenly;
}

.login-form button, .login-button2{
    background-color: #4931e7;
    font-size: 1.2vw;
    color: white; /* Text ka color */
    /* font-weight: 500; */
    border: none;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    width: 70% ;
    height: 35px; /* Full height button */
    /* margin-top: 10px; */
    box-shadow: 1px 2px 30px #4931e710;
}

.login-button2{
    width: 90%;
}



.sign-opn{
    width: 100%;
    height: 20%;
    justify-content: space-around;
    
}

.decor{
    width: 100%;
    color: #2632388d;
    font-family: 'roboto';
    font-size: .9vw;
    gap: 10px;

}
.sign-opn button{
    /* background-color: #4931e7; */
    font-size: 1.2vw;
    color: #4931e7; /* Text ka color */
    /* font-weight: 500; */
    border: none;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    width: 70% ;
    background-color: white;
    height: 33px; /* Full height button */
    border: 1px solid #4931e7;
    margin-top: 5px;
}


.token-slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #E6E2FF;
    overflow: hidden;
    box-shadow: 1px 2px 30px #4931e710;
}
.tUsrDetails{
    margin-top: 3px;
}

.token-slide h2{
    color: #263238;
}


.token-slide p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.token-slide span{
    width: 4px;
    height: 4px;
    background-color: #4931e7;
    border-radius: 50%;
    margin: 0 6px;
}



.token-slide{
    height: 95%;
    width: 100%;
    /* background-color: #9f9f9f1d; */
    border-radius: 20px;
    gap: 10px;
    font-family: 'roboto', 'sans-serif';
    padding-top: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;



    .remIdBtn{
        width: 25px;
        height: 25px;
        position: absolute;
        background-color:#E6E2FF ;
        top: 5%;
        right: 5%;
        border-radius: 50%;
        color: #4931e7;
        font-size: 12px;
        justify-content: center;
        align-self: center;
        display: flex;
        padding-top: 2px;

    }


}

.remIdBtn:active{
    color: #E6E2FF;
    background-color: #4931e7;
}


.token-slider-container{
    height: 80%;
    width: 90%;
    overflow: hidden;
}




.token-slider{
    height: 100%;
    width: 100%;
    /* background-color: #4931e7; */
    border-radius: 20px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    transition: transform 0.5s ease;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #4931e7; */
}




.token-container{
    height: 62%;
    width: 80%;
    /* background-color: #4931e7; */
    border-radius: 20px;
    position: relative;
}


.nav-btn-tkn-sld{
    width: 100%;
    position: absolute;
    top: 50%;
    justify-content: space-between;
}


.nav-btn-tkn-sld button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #E6E2FF;
    color: #4931e7;
    transition: .03s ease-in-out;
}

.nav-btn-tkn-sld button:active{
    width: 22px;
    height: 22px;
    background-color: #4931e7 ;
    color:  #E6E2FF;
}

.fi-rot {
    transform: rotateY(180deg);
    
}

.fi-rr-angle-small-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  
}


.nav-btn-tkn-sld .btnbx{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #263238; */
}




.decor span{
    width: 50px;
    height: .5px;
    background-color: #26323865;
    border-radius: 20px;
}


.logo h1 span{
    font-weight: 300;
    color: #4931e7;
    margin-left: 1px;
}

.hero2{
    width: 100%;
    height: 100%;
    display: none;
    /* background-color: #263238; */
}

.token-container .token_id{
 margin-bottom: 5px;
}


.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    margin-left: 0px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


@keyframes moveDown {
    0% {
        top: 2%;
    }
    100% {
        top: 6%; /* Adjust as needed */
    }
}

#error-message {
    position: absolute;
    font-family: 'roboto';
    font-size: 1vw;
    background-color: rgb(255, 72, 72);
    padding: 8px 30px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.292);
    border-radius: 10px;
    animation: moveDown .4s forwards; /* Animation duration and movement */
}


@media only screen and (min-width: 1300px) {


    .login-form input {
        width: 100%;
        height: 42px;
        border-radius: 30px;
        border: 1.5px solid #8773da8e;
        padding: 0 15px;
    }

    .login-form button, .login-button2 {
        background-color: #4931e7;
        font-size: 1.1vw;
        color: white;
        /* font-weight: 500; */
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: 70%;
        height: 42px;
        /* margin-top: 10px; */
        box-shadow: 1px 2px 30px #4931e710;
    }
    
    .sign-opn .switch-btn {
        height: 40px;
        font-size: 1vw;
    }

    .container .sign-opn{
        height: 15%;
    }

    .input-group label{
        margin-bottom: 5px;
    }

    .container .login-form{
        height: 42%;
    }

    .container .welcome-msg{
        height: 10%;
    }
}






@media only screen and (max-width: 567px) {
    .main-container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }



    .form-container{
        display: none;
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .hero-container{
        width: 100%;
        height: 100%;
        display: flex;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        padding-top: 20px;
        flex-direction: column;

        .slider{
            height: 70svh;
        }

    }
    .slide img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    .slider {
        height: 70%;
    }
    
.slide {
    width: 100%;
    height: 100%;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}



.slide h1{ 
    font-family:'roboto';
    color: #4931e7;
    font-weight: 600;
    width: 90%;
    line-height: 40px;
    font-size: 7vw;

}

.slide p{
    font-family:'roboto';
    color: #847fa5;
    width: 80%;
    font-size: 4vw;
    font-weight: 400;
} 

.hero-small-container{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    /* background-color: #4931e7; */

}
.logo{
    width: 100%;
    height: 100%;

}
.logo-icon-box{
    width: 45px;
    border-radius: 50%;
    height: 45px;
    background-color: #4931e7;
    overflow: hidden;
}

.logo h1{
    font-family:'roboto';
    color:#263238;
    font-weight: 900;
    margin-left: 6px;
    font-size: 9vw;

}

.logo h1 span{
    font-weight: 300;
    color: #4931e7;
    margin-left: 1px;
}

.login-slider {
    position: relative;
    width: 350px; /* Width ko apne design ke according set karein */
    height: 55px; /* Height ko apne design ke according set karein */
    background-color: #ffffff; /* Background color */
    border-radius: 50px; /* Rounded corners */
    overflow: hidden; /* Overflow ko hide karein */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 30px #4931e715;
}

.slider-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    transition: transform 0.2s ease; /* Smooth transition */
    
}

.login-slider p{

    position: absolute;
    /* text-align: center; */
    right: 20px;
    font-size: 4vw;
    font-weight: 500;
    color: #4931e7;
    font-family: 'roboto',sans-serif;
}

.swipe-button {
    /* padding: 10px 40px; */
    background: linear-gradient(40deg, #5038ED 0%,  #9181F4 100%); /* Button ka background color */
    font-size: 3.5vw;
    color: white; /* Text ka color */
    /* font-weight: 500; */
    border: none;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    width:120px ;
    height: 100%; /* Full height button */

}


.container{
    height: 80%;
    justify-content: space-between;
    margin-top: -20%;
}


.logo-icon-box img{
    width: 60%;
    height: 60%;
    object-fit: contain;
}



.welcome-msg{
    width: 100%;
    height: 10%;

    justify-content: center;
    color: #263238;
    text-shadow: 2px 4px 15px #2632382b;

    /* background-color: #4931e7; */
    /* gap: 1px; */


}
.welcome-msg h2{
   
    font-size: 4vw;
  
}
.welcome-msg .mainh2{
    font-size: 5.5vw;
   
    
}

.lg-cnt form{
    width: 100%;
    height: 45%;
    /* display: none; */
    justify-content: space-around;
    gap: 20px;
    /* background-color: #4931e7; */
}

.login-form .input-group{
    display:flex;
    flex-direction: column;
    width: 90%;

}

.login-form  input{
 
    height: 55px;
    box-shadow: 1px 2px 30px #4931e710;
    
      
}


.input-group label{
    font-size: 3.5vw;
    margin-bottom: 6px;
}

.input-group a{
    
    font-size: 3vw;
   
}



.login-form button{

     font-size: 4vw;
     width: 90% ;
     height: 55px; /* Full height button */
     box-shadow: 1px 2px 30px #4931e72b;


 }

 .sign-opn{
    width: 100%;
    height: 26%;
    justify-content: space-evenly;
    
}
 
 .decor{
    font-size: 3vw;
 }

 .decor span{
    width: 60px;
   
}

#findUserId{font-size: 4vw;
height: 48px; /* Full height button */
box-shadow: 1px 2px 30px #4931e71a;
}

#error-message {
    position: absolute;
    font-family: 'roboto';
    font-size: 3vw;
    background-color: rgb(255, 72, 72);
    padding: 10px 30px;
    color: white;
    width: 70%;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 30px rgba(255, 0, 0, 0.16);
    border-radius: 10px;
    animation: moveDown .4s forwards; /* Animation duration and movement */
}
@keyframes moveDown {
    0% {
        top: 0%;
    }
    100% {
        top: 3%; /* Adjust as needed */
    }
}

.sign-opn button{
    /* background-color: #4931e7; */
    font-size: 4vw;
    width: 90% ;  
    height: 48px; /* Full height button */
    box-shadow: 1px 2px 30px #4931e71a;
}


.lg-cnt .find-userid{
    width: 90%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #4931e7; */
}


.lg-cnt .find-userid p{
    font-size: 3vw;
}


.token-container{
    height: 80%;
    width: 100%;
    /* background-color: #4931e7; */
    border-radius: 20px;
    position: relative;
}

.token-slider-container{
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.login-button2{
    height: 50px;
    font-size: 4vw;
}
.token_id{
    font-size: 3vw;
    margin-bottom: 10px;
}

.token-slide img{
    width: 160px;
    height: 160px;
    
}

.token-slide{
    .remIdBtn{
        width: 40px;
        height: 40px;
        right: 8%;
        font-size: 15px;
    }
    
}


.token_details{
    
    h2{
        font-size: 8vw;
        margin-bottom: 5px;
    }

    .tUsrDetails p{
        font-size: 4vw;
        color: #263238a9;
    }
    span{
        width: 8px;
        height: 8px;
        margin: 0 10px;
        
    }

 
  
}

.nav-btn-tkn-sld button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #E6E2FF;
    margin-bottom: 30px;
    color: #4931e7;
    transition: .03s ease-in-out;
}


}



@media only screen and (max-width: 360px) {

    .hero-small-container{
        height: 50px;
        /* background-color: #4931e7; */
    }

    .login-slider {
        height: 43px;
        width: 90%;
    }

    .swipe-button {
        width: 95px;
    }

    .logo-icon-box{
        width: 35px;
        height: 35px;

       
    }
    .logo-icon-box img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
    
    
.logo h1{
    font-size: 8vw;
}

.slide h1{ 
    line-height: 30px;
}

.logo-icon-box img{
    width: 55%;
    height: 55%;
    object-fit: contain;
}

.login-form button{

    font-size: 4vw;
    width: 90% ;
    height: 45px; /* Full height button */

}

.login-form  input{
 
    height: 45px;
      
}

.sign-opn button{
    /* background-color: #4931e7; */
    font-size: 4vw;
    width: 90% ;  
    height: 42px; /* Full height button */
}



/* .token-slider-container{
    height: 90%;
    width: 100%;
    overflow: hidden;
} */

.login-button2{
    height: 45px;
    font-size: 4vw;
}
.token_id{
    font-size: 3vw;
    margin-bottom: 10px;
}

.token-slide img{
    width: 140px;
    height: 140px;
    
}

.token-slide{
    .remIdBtn{
        width: 30px;
        height: 30px;
        right: 8%;
        font-size: 12px;
    }
    
}


.token_details{
    
    h2{
        font-size: 7vw;
        margin-bottom: 3px;
    }

    .tUsrDetails p{
        font-size: 3.5vw;
        color: #263238a9;
    }
    span{
        width: 6px;
        height: 6px;
        margin: 0 6px;
        
    }

 
  
}

.nav-btn-tkn-sld button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #E6E2FF;
    margin-bottom: 30px;
    color: #4931e7;
    transition: .03s ease-in-out;
}




}